<html>
<head>
  <title>Редактирование карты пользователя</title>
</head>
<body>
<div class="container">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>

  <div class="sidebar">
    <% if $glob_permition >0 %>
      <%=render('welcome/form_glob_sidebar') %>
    <% end %>
  </div>

  <div class="content">
    <% if $glob_permition > 0 %>
      <%= render 'form_new_admin' %><br>
    <% else %>
      <h1><%= link_to 'Вас нет доступа!', welcome_index_path(format: "begin") %></h1>
    <% end %>
  </div>
</div>
</body>
</html>