<html>
<head><title>Отзывы</title></head>
<body>
  <div class="container">
    <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>
    <div class="sidebar"><%= render('welcome/form_sidebar') %> </div>
    <div class="content">
      <% if @access_index >0 %>
        <%= render('form_index_comment') %>
      <% else %>
        <h1>Отсутствует доступ к данным!</h1>
      <% end %>
    </div>
  </div>
</body>
<footer></footer>
</html>
