<html>
<head><title>Отзывы</title></head>
<body>
  <div class="container">
    <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>
    <div class="sidebar"><%= render('welcome/form_sidebar') %> </div>
    <div class="content">
      <% if @access_index >0 %>
        <%= render('form_index_comment') %>
        <% if @mond.block_comment > 0 %><br>Изменения заблокированы!<%end %><br>
      <% else %>
        <h1>Отсутствует доступ к данным!</h1>
      <% end %>
      <br><% if @access_full >0 %><%= render 'form_block_comments' %><% end %>
    </div>
  </div>
</body>
<footer></footer>
</html>
