<!-- render for Mond block/umblock -->

  <%= form_tag(@controller_name, method: "get", class: "nifty_form") do %>
    <% if @mond.block_mond == 1 %>
    <button class="button"><%= submit_tag("Открыть месяц",name:"commit_open_mond",
                                          data: {confirm:'Открыть месяц для изменений?',referral_code: "1234" })%></button>
    <% else %>
    <button class="button"><%= submit_tag("Закрыть месяц", name:"commit_close_mond",
                             data: {confirm:'Вы хотите закрыть месяц?'})%></button>
    <% end %>
  <% end %>