<html>
<head>
  <title>Данные по месяцам</title>
  </head>
<body>
<div class="container">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>

  <div class="sidebar">
    <% if $glob_permition >0 %>
      <%=render('welcome/form_glob_sidebar') %>
    <% else %>
      <%= render('welcome/form_sidebar') %> </div>
    <% end %>
  </div>

 <div class="content">
   <%= render('form_index_mond') %>

   <%end %>
   <% if $glob_permition > 0 || @access_new >0 %>
     <br><button class="button"><%= link_to "Новый месяц", new_mond_path %></button>
   <% end %>
 </div>
</div>
</body>
</html>