<html>
<head>
  <title>Данные по месяцам</title>
</head>
<body>
<div class="container">
<span class="noprint">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>
  <div class="sidebar"><%= render('welcome/form_sidebar') %> </div>
</span>
<div class="content">
    <% if @access_index > 0 %>
      <% case  @format %>
        <% when $format_time %>
          <%= render 'form_index_time' %>
          <% if @mond.block_timetabel > 0 %>Табель рабочего времени закрыт!<%end %>
        <% when $format_tabel %>
          <%= render 'form_index_tabel' %>
          <% if @mond.block_tabel > 0 %>Табель начисления закрыт!<%end %>
        <% when $format_buchtabel %>
          <%= render 'form_index_buchtabel' %>
          <% if @mond.block_tabel > 0 %>Ведомость закрыта!<%end %>
        <span class="noprint">
          <% if @access_print && @mond.block_buchtabel > 0 %><button class="button" onclick="window.print();">Печать </button> <%end %>
        </span>
          <div>
          <p><strong> Директор                                     Жиляев Ю.  </strong></p>
          <p><strong> Главный бухгалтер                            Лазарева Е. </strong></p>
          </div>
        <%  end %>
    <% else %>
      <h1>Отсутствует доступ к данным!</h1>
    <% end %>


  </div>
</div>
</body>
<footer</footer>
</html>
