<!DOCTYPE html>
<html>
<head>
  <title></title>
  </head>
<body>
<div class="container">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>
  <div class="sidebar"><%= render('welcome/form_sidebar') %> </div>
  <div class="content_1_col">
    <%= render('form_edit_tabel') %>
</div>
</body>
</html>