<!DOCTYPE html>
<h2></h2>
<html>
<head>
  <title>Создание карты доступа</title>
</head>
<body>
<div class="container">
  <div class="header">Начисление заработной платы<br> ООО "Геопласт Телеком" </div>

  <div class="sidebar">
    <% if $glob_permition >0 %>
      <%=render('welcome/form_glob_sidebar') %>
    <% end %>
    </div>

  <div class="content">
    <% if $glob_permition > 0 %>
      <%= render 'form_new_level' %><br>
      <button class="button"><%= link_to 'Выход', levels_path(@admin.id) %></button>
      <p>Комментарий </p>
    <% else %>
      <h1><%= link_to $access_denied, welcome_index_path(format:"exit") %></h1>
    <% end %>
  </div>

</div>
</body>
</html>
